<form method="POST" action="{{ action|default('') }}">
  <div>
    <label class="label">Name</label>
    <input type="text" name="name" value="{# project.name #}" />
    
    <label class="label">Description</label>
    <textarea name="description">{# project.description #}</textarea>

    <input type="checkbox" name="public" checked="true" id="project-public" /><label for="project-public">This is a public project that is visible for other users</label>
  </div>

  <div class="actions">
    <a href="/workspace/projects" class="btn">Cancel</a>
    <input type="submit" class="btn primary add" value="{{ submitButton }}" />
  </div>
</form>