.cl_help {
  color: $clDark;


  // limit heading size for readability
  h1{
    font-size: 1.5em;
  }
  h2{
    font-size: 1.3em;
  }
  h3{
    font-size: 1.2em;
  }

  // prevent large gap on top of help container
  h1:first-child, h2:first-child,h3:first-child{
    margin-top: 0px;
  }
}

@media all and (max-width: 960px) {
  .cl_help {
    top: 234px;
  }
  .cl_container-help {
    &.cl_active {
      width: 100%;
      z-index: 1100;
    }
  }
}

@media all and (max-width: 608px) {
  .cl_help {
    top: 348px;
  }
  .cl_main-content {
    margin-top: 395px;
  }
  .cl_img-left {
    max-width: 30%;
  }
}