.tools {
  .cl_list {
    padding-top: 3rem;

    .cl_no_padd_right {
      padding-right: 0;
    }
    .cl_no_padd_left {
      padding-left: 0;
    }

    .cl_margin-botton {
      margin-bottom: 3rem;
    }
    .tool {
      h3 {
        font-size: 20px;
        text-align: center;
      }

      .actions {
        display: flex;
        justify-content: center;
        margin-top: 10px;
      }
      .image-wrap {
        img {
          width: 100%;
        }
      }

      .description {
        font-size: 13.5px;
      }
    }
  }

  .cl_development {
    margin-bottom: 5rem;
    margin-top: 5rem;

    h2 {
      font-size: 25px;
      text-align: center;
    }
    p {
      text-align: center;
      img {
        max-width: 22%;
      }
    }

    .cl_description {
      margin: 2rem 0;
    }
  }
  @media (max-width: 960px) {
    &.cl_main-content {
      margin-top: 285px;
    }
  }
  @media all and (max-width: 608px) {
    &.cl_main-content {
      margin-top: 415px;
    }
    .cl_img-left {
      max-width: 100%;
    }
  }
}
