.tools {

  .cl_list {
    padding-top: 3rem;
    justify-content: center;
    @media screen and (min-width: $break-medium) {
      flex-wrap: nowrap;
    }
  
    .cl_col{
      padding-right: 25px;
      padding-left: 25px;
    }
    
    .tool {
      flex-grow: 0;
      
      h3 {
        font-size: 20px;
        text-align: center;
      }

      .actions {
        display: flex;
        justify-content: center;
        margin-top: 10px;
      }
      .image-wrap {
        position: relative;
  
        // Shadow
        &::before {
          content: '';
          position: absolute;
          width: 70%;
          left: 15%;
          height: 20%;
          bottom: 5px;
          border-radius: 100%;
          box-shadow: 0 10px 40px rgba(0,0,0, 0.15);
        }
        
        img {
          position: relative;
          width: 100%;
          border: 1px solid #eee;
        }     
      }

      .description {
        font-size: 13.5px;
      }
    }
  }

  .cl_development {
    margin-bottom: 5rem;
    margin-top: 5rem;

    h2 {
      font-size: 25px;
      text-align: center;
    }
    p {
      text-align: center;
      img {
        max-width: 22%;
      }
    }

    .cl_description {
      margin: 2rem 0;
    }
  }
  @media (max-width: 960px) {
    &.cl_main-content {
    }
  }
  @media all and (max-width: 608px) {
    &.cl_main-content {
    }
    .cl_img-left {
      max-width: 100%;
    }
  }
}
