<!doctype HTML>
<html>

<head>
	<title>CLARIAH media suite - Access denied</title>

    {% include 'head.html' %}

</head>

<body>

	{% include 'nav.html' %}

	<div class="container">

		<div class="row" style="height:50px;">

			<div class="col-md-12">
				<div role="tabpanel" class="tab-pane collection-tab" id="links">

					<div class="row text-center">
						<div class="dashboard-header">
							<h3>Access denied</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% include 'site-tracking.html' ignore missing %}

</body>

</html>