<!doctype HTML>
<html>
<head>
  <title>CLARIAH Media Suite - About </title>
  {% include '%s/head.html' % headDir %}
</head>
<body class="cl_flex-main">
{% with page='about' %}
{% include '%s/nav.html' % navbarDir %}
{% endwith %}
<div class="cl_row cl_main-content">
  <div class="page About">
    <div class="content">
      <img src="../static/images/bigicon-clariah.png" width="176" alt="Clariah"/>
      <div class="info">
        <div class="description">
          <p>
            Lorem ipsum dolor sit amet, nec te atqui scribentur. Diam molestie posidonium te sit, ea sea expetenda
            suscipiantur contentiones, vix ex maiorum denique. Quo detracto recusabo lobortis ei, ne labores sapientem
            pri, ex zril option aperiri mea. Ad magna utamur molestiae cum. Et dicam antiopam vel, ludus graeco recusabo
            quo in, per in quod soleat. Cetero praesent recteque vim te, ut vix decore partem appellantur, et vim dico
            ancillae. Idque deleniti maluisset eu per.
          </p>
        </div>

        <div class="actions">
          <a href="http://rdbg.tuxic.nl/clariahwp5/wordpress/" class="btn" target="_blank" rel="noopener noreferrer">View
            showcases</a>
          <a href="http://rdbg.tuxic.nl/clariahwp5/wordpress/" class="btn" target="_blank" rel="noopener noreferrer">Visit
            our blog</a>
        </div>
      </div>
    </div>
    <div class="text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam natus quas recusandae, voluptas accusamus
        nihil maxime voluptates. Id fugiat numquam, est error iusto eos. Nostrum pariatur illum recusandae totam
        laudantium!</p>
      <p>Qualisque signiferumque per an. Qui ei tota honestatis, repudiandae liberavisse reprehendunt ad per. Mel ei
        aeque sonet, eruditi minimum nostrum vel in, mei et hinc vulputate. Ius populo equidem graecis ad, harum alienum
        contentiones no mea. </p>
      <p>Ne dolore iracundia sea, est omnis molestiae in. Sit ad mundi aliquam molestiae, eam cu erat posse referrentur,
        cum te quodsi adipisci interpretaris. Mei soluta euismod ut, mel ex meis mnesarchum. Habeo ubique senserit vel
        ei, no porro consulatu est.</p>
      <p>Diam molestie posidonium te sit, ea sea expetenda suscipiantur contentiones, vix ex maiorum denique. Quo
        detracto recusabo lobortis ei, ne labores sapientem pri, ex zril option aperiri mea. Ad magna utamur molestiae
        cum. Et dicam antiopam vel, ludus graeco recusabo quo in, per in quod soleat. Cetero praesent recteque vim te,
        ut vix decore partem appellantur, et vim dico ancillae. Idque deleniti maluisset eu per. </p>
      <p>Qualisque signiferumque per an. Qui ei tota honestatis, repudiandae liberavisse reprehendunt ad per. Mel ei
        aeque sonet, eruditi minimum nostrum vel in, mei et hinc vulputate. Ius populo equidem graecis ad, harum alienum
        contentiones no mea. </p>
      <p>Ne dolore iracundia sea, est omnis molestiae in. Sit ad mundi aliquam molestiae, eam cu erat posse referrentur,
        cum te quodsi adipisci interpretaris. Mei soluta euismod ut, mel ex meis mnesarchum. Habeo ubique senserit vel
        ei, no porro consulatu est.</p>
    </div>
    <div class="suite">
      <h2>Media Suite</h2>
      <div class="block">
        <div>
          <img src="../static/images/bigicon-data.d7e8ae27.png" width="352" alt="Media Suite Data"/>
          <h3>Data</h3>
        </div>
        <div>
          <img src="../static/images/bigicon-tools.833a4532.png" alt="Media Suite Tools" width="352"/>
          <h3>Tools</h3>
        </div>
        <div>
          <img src="../static/images/bigicon-workspace.png" alt="Media Suite Workspace" width="352"/>
          <h3>Workspace</h3>
        </div>
      </div>
    </div>
    <div class="text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam natus quas recusandae, voluptas accusamus
        nihil maxime voluptates. Id fugiat numquam, est error iusto eos. Nostrum pariatur illum recusandae totam
        laudantium!</p>
      <p>Qualisque signiferumque per an. Qui ei tota honestatis, repudiandae liberavisse reprehendunt ad per. Mel ei
        aeque sonet, eruditi minimum nostrum vel in, mei et hinc vulputate. Ius populo equidem graecis ad, harum alienum
        contentiones no mea. </p>
      <p>Ne dolore iracundia sea, est omnis molestiae in. Sit ad mundi aliquam molestiae, eam cu erat posse referrentur,
        cum te quodsi adipisci interpretaris. Mei soluta euismod ut, mel ex meis mnesarchum. Habeo ubique senserit vel
        ei, no porro consulatu est.</p>
      <p>Diam molestie posidonium te sit, ea sea expetenda suscipiantur contentiones, vix ex maiorum denique. Quo
        detracto recusabo lobortis ei, ne labores sapientem pri, ex zril option aperiri mea. Ad magna utamur molestiae
        cum. Et dicam antiopam vel, ludus graeco recusabo quo in, per in quod soleat. Cetero praesent recteque vim te,
        ut vix decore partem appellantur, et vim dico ancillae. Idque deleniti maluisset eu per. </p>
      <p>Qualisque signiferumque per an. Qui ei tota honestatis, repudiandae liberavisse reprehendunt ad per. Mel ei
        aeque sonet, eruditi minimum nostrum vel in, mei et hinc vulputate. Ius populo equidem graecis ad, harum alienum
        contentiones no mea. </p>
      <p>Ne dolore iracundia sea, est omnis molestiae in. Sit ad mundi aliquam molestiae, eam cu erat posse referrentur,
        cum te quodsi adipisci interpretaris. Mei soluta euismod ut, mel ex meis mnesarchum. Habeo ubique senserit vel
        ei, no porro consulatu est.</p>
    </div>
  </div>
</div>
{% include '%s/footer.html' % footerDir %}
<script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/static/js/common.js"></script>
</body>
</html>