<!doctype HTML>
<html>
<head>
    <title>CLARIAH Media Suite - Data sources</title>
    {% include '%s/head.html' % headDir %}
</head>
<body class="cl_flex-main">
{% with page='data-sources' %}
{% include '%s/nav.html' % navbarDir %}
{% endwith %}

<div class="cl_row cl_main-content">
  <div class="cl_col cl_col-span-12">
    <div class="info">
      <div class="description">
        <img style="max-width: 176px" class="cl_img-left" src="../static/images/bigicon-data.d7e8ae27.png" alt="Media Suite Data">
         {{data_static.data_intro.intro | safe}}
      </div>
      <div class="actions cl_center">
        <!--<a class="btn blank">Hide</a>-->
       <a href="{{data_static.data_intro.link_intro.link_url}}" class="btn" rel="noopener noreferrer">
          {{data_static.data_intro.link_intro.link_value}}
       </a>
      </div>
    </div>
</div>
</div>
{% include '%s/footer.html' % footerDir %}
<script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/static/js/common.js"></script>
</body>
</html>