<!doctype HTML>
<html>

<head>
	<title>CLARIAH Media Suite - Data sources</title>
	{% include 'head.html' %}
</head>

<body class="cl_flex-main">

	{% with page='data-sources' %}
	{% include 'nav.html' %}
	{% endwith %}

	<div class="cl_row cl_main-content">
		<div class="cl_col cl_col-span-12">
			<div class="info">
				<div class="description">
					<img style="max-width: 176px"
					class="cl_img-left"
					src="../static/images/bigicon-data.d7e8ae27.png"
					alt="Media Suite Data">
					{{data_static.data_intro.intro | safe}}
				</div>
				<div class="actions cl_center">

					<a href="{{data_static.data_intro.link_intro.link_url}}" class="btn" rel="noopener noreferrer">
						{{data_static.data_intro.link_intro.link_value}}
					</a>
				</div>
			</div>
		</div>
	</div>

	{% include 'footer.html' %}

	{% include 'site-tracking.html' ignore missing %}

</body>

<script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/static/js/common.js"></script>

<script src="/static/js/help.js"></script>
<script>initHelp("Data", "/feature-doc/data");</script>

</html>