<!doctype HTML>
<html>

<head>
    <title>CLARIAH Media Suite - Documentation</title>

    {% include 'head.html' %}

</head>

<body class="documentation">

    {% with page='documentation' %}
    {% include 'nav.html' %}
    {% endwith %}

    <div class="container">
        {# TOC #}
        <ul class="toc">
        {% for item in toc %}   
            {# level 1 #}     
            <li {% if item.content == path %}class="active"{% endif %}>
                <a href="/documentation/{{item.content}}">{{ item.title }}</a>
                {# level 2 #}
                {% if item.children and path.startswith(item.content) %}
                    <ul>
                        {% for subItem in item.children %}
                            <li {% if subItem.content == path %}class="active"{% endif %}>
                                <a href="/documentation/{{subItem.content}}">{{ subItem.title }}</a>

                                {# level 3 #}
                                {% if subItem.children %}
                                    <ul>
                                        {% for subSubItem in subItem.children %}
                                            <li {% if subSubItem.content == path %}class="active"{% endif %}>
                                                <a href="/documentation/{{subSubItem.content}}">{{ subSubItem.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

            </li>
        {% endfor %}
        </ul>

        {# Content #}
        <div class="documentation-content">
            {{ content | safe}}
        </div>
    </div>

    {% include 'footer.html' %}

    {% include 'site-tracking.html' ignore missing %}

</body>

<script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/static/js/common.js"></script>

</html>