<!doctype html>
<html>

<head>
	<title>CLARIAH Media Suite - Exploratory Search</title>

	{% with pageType='app' %}
	{% include 'head.html' %}
	{% endwith %}
</head>

<body class="bg_tools-explore">

	{% with page='tools' %}
	{% include 'nav.html' %}
	{% endwith %}

    
    <iframe id="bg__tools-explore" src="http://diveplus.frontwise.com{{params.path}}"></iframe>


</body>

<script src="/static/js/help.js"></script>
<script>initHelp("Explore", "/help/pages/tools/exploratory-search.html");</script>

{% include 'site-tracking.html' ignore missing %}

</html>