<div class="Footer ">
    <div class="content">
        <ul>
            <li>
                <div class="logo"></div>
                <h5>
                    Version:  <a href="/documentation/release-notes#release-notes-v2-1">2.1</a>
                </h5>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/tools">Tools</a>
            </li>
            <li>
                <a href="/data">Data</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/documentation">Documentation</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/worspace">Login</a>
            </li>
        </ul>
    </div>
</div>