<div class="Footer ">
  <div class="content">
    <ul>
      <li>
        <div class="logo"></div>
        <h5>Version: 20171212</h5>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/recipes">Tools</a>
      </li>
      <li>
        <a href="/data">Data</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="https://clariah.github.io/mediasuite-info/">Documentation</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/worspace">Login</a>
      </li>
    </ul>
  </div>
</div>