<div class="cl_help">
    <div class="cl_button"></div>
    <div class="cl_container-help">
        <div class="cl_header">
            {% if page=='data-sources' %}
                {{data_static['help_header']}}
            {% elif page=='tools' %}
                {{recipes['pages']['tools-page'].help_header}}
            {% endif %}
            <div class="cl_close"></div>
        </div>
        <div class="cl_scroll">
            {% if page=='data-sources' %}
                {{data_static['documentation_question-mark_data_page'] | safe}}
            {% elif page=='tools' %}
                {{recipes['pages']['tools-page']['documentation_question-mark_tools_page']|safe}}
            {% endif %}
        </div>
    </div>
</div>