<div class="header {{ extraClass}}">
	<a class="logo" href="/"></a>
	<div class="hamburger"></div>
	<ul class="menu main">
		{% if page=='data-sources' %}
		<li class="active"><a href="/data">Data</a></li><li><a href="/tools">Tools</a></li>
		{% elif page=='tools' %}
		<li><a href="/data">Data</a></li><li class="active"><a href="/tools">Tools</a></li>
		{% else %}
		<li><a href="/data">Data </a></li><li><a href="/tools">Tools</a></li>
		{% endif %}
	</ul>

	{% if user != None %}
	<div class="workspace {% if page=='workspace' %}active{% endif %}">
		<a href="/workspace/projects"><i class="icon-workspace"></i>Workspace</a>
		<ul class="dropdown">
			<li><a class="" href="/workspace/projects">User Projects<span id="project_count" class="count">0</span>
				</a>
			</li>
			<!--<li class="projects">-->
				<!--<div class="projects"><input placeholder="Search project">-->
					<!--<ul>-->
						<!--<li>Watersnoodramp</li>-->
						<!--<li>Pim Fortuyn</li>-->
						<!--<li>Immigratie</li>-->
						<!--<li>Paars kabinet</li>-->
						<!--<li>Nationale rampen</li>-->
						<!--<li>Rol van Radio bij nationale rampen gedurende de nadagen van de Tweede Wereldoorlog</li>-->
					<!--</ul>-->
				<!--</div>-->
			<!--</li>-->
			<li class="new-project">
				<a href="/workspace/projects/create" class="button-holder">
					<div class="btn primary plus">Create User Project</div>
				</a>
			</li>
			<!-- new stuff for creating personal collections -->
			{% if user and user.attributes and user.attributes.allowPersonalCollections %}
				<li><a class="" href="/workspace/collections">User Collections<span id="collection_count" class="count">0</span>
					</a>
				</li>
				<li class="new-project">
					<a href="/workspace/collections/create" class="button-holder">
						<div class="btn primary plus">Add user collection</div>
					</a>
				</li>
			{% endif %}
		</ul>
	</div>
	{% endif %}

	<div class="right">
		<ul class="menu sub">
			<li class="{{ 'active' if page == 'about' }}">
				<a href="/about">About</a>
			</li>
			<li class="{{ 'active' if page == 'documentation' }}">
				<a href="https://clariah.github.io/mediasuite-info/">Documentation</a>
			</li>
			<li class="{{ 'active' if page == 'contact' }}">
				<a href="/contact">Contact</a>
			</li>			
		</ul>

		{% if user != None %}
		<div class="account loggedin ">
			<i class="icon-person"></i>Account <span class="username">{{user.name}}</span>

			<ul class="dropdown">
				<li><a class="userLink" href="/workspace/projects">My profile</a></li>
				<li><a class="userLink" href="/logout" title="Logout {{user.name}}">Logout</a></li>
			</ul>			
		</div>
		{% else %}
		<div class="account login ">
			<a href="/workspace/projects"><i class="icon-person"></i>Login</a>
		</div>
		{% endif %}
	</div>
	{% if
		(data_static and data_static['documentation_question-mark_data_page']) or
		(recipes and recipes['pages']['tools-page']) or
		(recipe and recipe.recipeDescription)
	%}
		{% include '%s/help.html' % helpDir %}
	{% endif %}


</div>
<ul class="BreadCrumbs hidden" id="breadcrumbs"></ul>


<script>
	try {
		if('localStorage' in window && window['localStorage'] !== null) {
			if('myProjects' in localStorage) {
				document.getElementById('project_count').innerHTML = JSON.parse(localStorage['myProjects']).length;
			}
		}
	} catch (e) {

	}
</script>

{% if user and user.attributes and user.attributes.allowPersonalCollections %}
<script>
	try {
		if('localStorage' in window && window['localStorage'] !== null) {
			if('myCollections' in localStorage) {
				document.getElementById('collection_count').innerHTML = JSON.parse(localStorage['myCollections']).length;
			}
		}
	} catch (e) {

	}
</script>
{% endif %}