<!doctype HTML>
<html>
<head>
  <title>CLARIAH Media Suite - Tools</title>
  {% include '%s/head.html' % headDir %}
</head>
<body class="cl_flex-main">
{% with page='tools' %}
{% include '%s/nav.html' % navbarDir %}
{% endwith %}

<div class="tools container cl_row cl_main-content cl_container-800">

  <div class="cl_col cl_col-span-4">
    <img class="cl_img-left cl_img-max-width-75" src="../static/images/bigicon-tools.833a4532.png"
         alt="Media Suite Tools">
  </div>
  <div class="cl_col cl_col-span-8">
    <div class="info">
      <div class="description">
        <p>
          The Media Suite tools offer the core functionalities needed for performing scholarly research tasks with audio-visual media and contextual collections. These tools have been co-developed with media scholars, oral historians, and other scholars who use audio-visual media intensively. They are also inspired in in prior projects, such as AVResearcherXL, Comerda, DIVE and TROVE. Each tool has been assembled using one or more components.
        </p>
      </div>
      <div class="actions cl_center">
        <!--<a class="btn blank">Hide</a>-->
        <a href="https://clariah.github.io/mediasuite-info/" class="btn" rel="noopener noreferrer">
          View tutorials
        </a>
      </div>
    </div>
  </div>
  <div class="cl_row cl_list">
    <div class="tool cl_col cl_col-span-6 cl_no_padd_left cl_margin-botton">
      <div class="image-wrap"><img src="../static/images/placeholder.2b77091b.svg"
                                   alt="Collection inspector"></div>
      <h3>Collection inspector</h3>
      <div class="description">
        With this recipe it is possible to: 1) select collections, 2) inspect their metadata, 3) perform data analytics tasks on their metadata (e.g., detect incomplete data, observe value distributions along date fields), and 4) send them to the other browsing and search recipes.
      </div>
      <div class="actions">
        <a href="https://clariah.github.io/mediasuite-info/" class="btn blank">Details</a>
        <a href="{{recipes['collection-inspector'].url}}" class="btn">Open</a></div>
    </div>
    <div class="tool cl_col cl_col-span-6 cl_no_padd_right cl_margin-botton">
      <div class="image-wrap">
        <img src="../static/images/placeholder.2b77091b.svg" alt="Exploratory browser">
      </div>
      <h3>Exploratory browser</h3>
      <div class="description">
        DIVE+ browser is a linked-data, event-based browser, based on the simple event data model, where you can browse and search in an ”infinite” fashion in different heritage collections at the same time. It supports the creation of browsing narratives.
      </div>
      <div class="actions">
        <a href="https://clariah.github.io/mediasuite-info/" class="btn blank">Details</a>
        <a href="{{recipes['lod-collection-browser'].url}}" class="btn">Open</a></div>
    </div>
    <div class="tool cl_col cl_col-span-6 cl_no_padd_left">
      <div class="image-wrap">
        <img src="../static/images/placeholder.2b77091b.svg" alt="Basic faceted search">
      </div>
      <h3>Basic faceted search</h3>
      <div class="description">
        Dedicated tool for searching/exploring through a single collection and all available annotation layers for that collection (e.g., automatically-generated, user-generated, archival generated).
      </div>
      <div class="actions">
        <a href="https://clariah.github.io/mediasuite-info/" class="btn blank">Details</a>
        <a href="{{recipes['single-search'].url}}" class="btn">Open</a>
      </div>
    </div>
    <div class="tool cl_col cl_col-span-6 cl_no_padd_right">
      <div class="image-wrap">
        <img src="../static/images/placeholder.2b77091b.svg" alt="Comparative search">
      </div>
      <h3>Comparative search</h3>
      <div class="description">
        Supports comparative (re)search based on multiple queries on the same or different collections.
      </div>
      <div class="actions">
        <a href="https://clariah.github.io/mediasuite-info/" class="btn blank">Details</a>
        <a href="{{recipes['comparative-search'].url}}" class="btn">Open</a>
      </div>
    </div>
  </div>

  <div class="cl_development">
    <p><img src="../static/images/bigicon-development.a7d70511.png" alt="Tool development"></p>
    <h2>Tool development</h2>
    <div class="cl_description">The CLARIAH Media Suite is an open source project. We also have public APIs that allows access to data, search, annotations, and enrichments.
    </div>
    <div class="actions cl_center"><a href="https://clariah.github.io/mediasuite-info/" class="btn primary">More information</a></div>
  </div>

  <!--<div class="row">-->
  <!--<div class="col-md-12">-->
  <!--<h3>Collection exploration</h3>-->
  <!--<br/>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
  <!--&lt;!&ndash; COLLECTION INSPECTOR &ndash;&gt;-->
  <!--<div id="{{recipes['collection-inspector'].id}}" class="col-sm-6 col-md-4">-->

  <!--<div class="panel panel-default">-->
  <!--<div class="panel-heading">-->
  <!--<h3 class="panel-title"><i class="fa fa-rocket"></i>&nbsp; {{recipes['collection-inspector'].name}}</h3>-->
  <!--</div>-->
  <!--<div class="panel-body">-->
  <!--{{recipes['collection-inspector'].description}}-->
  <!--</div>-->
  <!--<div class="panel-footer text-right"><a href="{{recipes['collection-inspector'].url}}">View recipe</a></div>-->
  <!--</div>-->
  <!--</div>-->

  <!--&lt;!&ndash; DIVE  &ndash;&gt;-->
  <!--<div id="{{recipes['lod-collection-browser'].id}}" class="col-sm-6 col-md-4">-->

  <!--<div class="panel panel-default">-->
  <!--<div class="panel-heading">-->
  <!--<h3 class="panel-title"><i class="fa fa-rocket"></i>&nbsp; {{recipes['lod-collection-browser'].name}}</h3>-->
  <!--</div>-->
  <!--<div class="panel-body">-->
  <!--{{recipes['lod-collection-browser'].description}}-->
  <!--</div>-->
  <!--<div class="panel-footer text-right"><a href="{{recipes['lod-collection-browser'].url}}">View recipe</a></div>-->
  <!--</div>-->
  <!--</div>-->

  <!--</div>-->

  <!--<div class="row">-->
  <!--<div class="col-md-12">-->
  <!--<h3>Search</h3>-->
  <!--<br/>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
  <!--&lt;!&ndash; COLLECTION INSPECTOR &ndash;&gt;-->
  <!--<div id="{{recipes['comparative-search'].id}}" class="col-sm-6 col-md-4">-->

  <!--<div class="panel panel-default">-->
  <!--<div class="panel-heading">-->
  <!--<h3 class="panel-title"><i class="fa fa-rocket"></i>&nbsp; {{recipes['comparative-search'].name}}</h3>-->
  <!--</div>-->
  <!--<div class="panel-body">-->
  <!--{{recipes['comparative-search'].description}}-->
  <!--</div>-->
  <!--<div class="panel-footer text-right"><a href="{{recipes['comparative-search'].url}}">View recipe</a></div>-->
  <!--</div>-->
  <!--</div>-->

  <!--&lt;!&ndash; DIVE  &ndash;&gt;-->
  <!--<div id="{{recipes['single-search'].id}}" class="col-sm-6 col-md-4">-->

  <!--<div class="panel panel-default">-->
  <!--<div class="panel-heading">-->
  <!--<h3 class="panel-title"><i class="fa fa-rocket"></i>&nbsp; {{recipes['single-search'].name}}</h3>-->
  <!--</div>-->
  <!--<div class="panel-body">-->
  <!--{{recipes['single-search'].description}}-->
  <!--</div>-->
  <!--<div class="panel-footer text-right"><a href="{{recipes['single-search'].url}}">View recipe</a></div>-->
  <!--</div>-->
  <!--</div>-->

  <!--</div>-->
</div>
{% include '%s/footer.html' % footerDir %}
<script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/static/js/common.js"></script>
</body>
</html>