<!doctype HTML>
<html>
<head>
  <title>CLARIAH Media Suite - Tools</title>
  {% include '%s/head.html' % headDir %}
</head>
<body class="cl_flex-main">
{% with page='tools' %}
{% include '%s/nav.html' % navbarDir %}
{% endwith %}

<div class="tools container cl_row cl_main-content cl_container-800">

  <div class="cl_col cl_col-span-4">
    <img class="cl_img-left cl_img-max-width-75" src="../static/images/bigicon-tools.833a4532.png"
         alt="Media Suite Tools">
  </div>
  <div class="cl_col cl_col-span-8">
    <div class="info">
      <div class="description">
        <p>
        {{recipes['pages']['tools-page'].tools_intro.text|safe}}
        </p>
      </div>
      <div class="actions cl_center">
        <!--<a class="btn blank">Hide</a>-->
        <a href="{{recipes['pages']['tools-page'].tools_intro.links.link_url}}" class="btn" rel="noopener noreferrer">
          {{recipes['pages']['tools-page'].tools_intro.links.link_value}}
        </a>
      </div>
    </div>
  </div>
  <div class="cl_row cl_list">
    <div class="tool cl_col cl_col-span-6 cl_no_padd_left cl_margin-botton">
      <div class="image-wrap"><img src="../static/images/placeholder.2b77091b.svg"
                                   alt="Collection inspector"></div>
      <h3>{{recipes['pages']['tools-page']['tools_collection-inspector'].header}}</h3>
      <div class="description">
        {{recipes['pages']['tools-page']['tools_collection-inspector'].text}}
      </div>
      <div class="actions">
        <a href="{{recipes['pages']['tools-page']['tools_collection-inspector'].links.link_details.link_url}}" class="btn blank">{{recipes['pages']['tools-page']['tools_collection-inspector'].links.link_details.link_value}}</a>
        <a href="{{recipes['collection-inspector'].url}}" class="btn">Open</a></div>
    </div>
    <div class="tool cl_col cl_col-span-6 cl_no_padd_right cl_margin-botton">
      <div class="image-wrap">
        <img src="../static/images/placeholder.2b77091b.svg" alt="Exploratory browser">
      </div>
      <h3>{{recipes['pages']['tools-page']['tools_lod-collection-browser'].header}}</h3>
      <div class="description">
        {{recipes['pages']['tools-page']['tools_lod-collection-browser'].text}}
      </div>
      <div class="actions">
        <a href="https://clariah.github.io/mediasuite-info/" class="btn blank">Details</a>
        <a href="{{recipes['pages']['tools-page']['tools_lod-collection-browser'].links.link_open.link_url}}" class="btn">{{recipes['pages']['tools-page']['tools_lod-collection-browser'].links.link_open.link_value}}</a></div>
    </div>
    <div class="tool cl_col cl_col-span-6 cl_no_padd_left">
      <div class="image-wrap">
        <img src="../static/images/placeholder.2b77091b.svg" alt="Basic faceted search">
      </div>
      <h3>{{recipes['pages']['tools-page']['tools_single-search'].header}}</h3>
      <div class="description">
        {{recipes['pages']['tools-page']['tools_single-search'].text}}
      </div>
      <div class="actions">
        <a href="{{recipes['pages']['tools-page']['tools_single-search'].links.link_details.link_url}}" class="btn blank">{{recipes['pages']['tools-page']['tools_single-search'].links.link_details.link_value}}</a>
        <a href="{{recipes['pages']['tools-page']['tools_single-search'].links.link_open.link_url}}" class="btn">{{recipes['pages']['tools-page']['tools_single-search'].links.link_open.link_value}}</a>
      </div>
    </div>
    <div class="tool cl_col cl_col-span-6 cl_no_padd_right">
      <div class="image-wrap">
        <img src="../static/images/placeholder.2b77091b.svg" alt="Comparative search">
      </div>
      <h3>{{recipes['pages']['tools-page']['tools_comparative-search'].header}}</h3>
      <div class="description">
        {{recipes['pages']['tools-page']['tools_comparative-search'].text}}
      </div>
      <div class="actions">
        <a href="{{recipes['pages']['tools-page']['tools_comparative-search'].links.link_details.link_url}}" class="btn blank">{{recipes['pages']['tools-page']['tools_comparative-search'].links.link_details.link_value}}</a>
        <a href="{{recipes['pages']['tools-page']['tools_comparative-search'].links.link_open.link_url}}" class="btn">{{recipes['pages']['tools-page']['tools_comparative-search'].links.link_open.link_value}}</a>
      </div>
    </div>
  </div>
</div>
{% include '%s/footer.html' % footerDir %}
<script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/static/js/common.js"></script>
</body>
</html>