.BreadCrumbs{
  background-color: $clWhite;
  box-sizing: border-box;
  display: inline-block;
  font-family: $fontBody;
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  list-style:none;
  padding-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  top: 115px;
  width: calc(100% - 60px);
  z-index: 10;

  li{
    color: $clGreyTint;
    display: inline-block;

    a{
      color: $clPrimary;
      padding: 0 5px;

      &.home{
        background-image: $iconHomeUrl;
        background-position: center center;
        background-repeat: no-repeat;
        display: inline-block;
        height: 15px;
        vertical-align: top;
        width: 17px;
      }
    }
  }
}