.page.About {
  $margin: 20px;

  .content {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    overflow: hidden;
    padding: 0;
    img {
      margin: 30px;
      width: 176px;
    }
    .info {
      flex: 1 1;
      margin: 30px;
      max-width: 100vw;
      min-width: 250px;
    }

    .actions {
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .description {
      font-size: 13.5px;
    }
  }
  .text {
    font-size: 13.5px;
    margin: 60px auto;
    max-width: $maxTextBodyWidth;
    padding: 0 $margin;

    @media (min-width: 550px) {
      column-count: 2
    }

    > :first-child {
      margin-top: 0;
    }
  }

  .suite {
    margin: 100px auto;
    max-width: $maxTextBodyWidth;
    text-align: center;

    h2 {
      font-size: 20px;
      text-transform: uppercase;
    }

    h3 {
      font-size: 20px;
      text-transform: none;
    }

    .block {
      border: 1px solid $clDarkGrey;
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      > div {
        margin: $margin;
        max-width: 176px;
      }

      img {
        max-width: 100%;
      }
    }
  }

  .Footer {
    margin-top: 100px;
  }
}
