$logoWidth: 295px;

.Footer {
  background-color: $clDark;
  margin-top: 20px;
  padding-top: 10px;

  ul {
    list-style: none;
    margin-right: 10px;
    min-width: 20%;
    padding: 0;
  }

  ul:first-child {
    border-right: 2px solid $clGreyTint;
    margin-right: 40px;
    padding-right: 40px;
  }

  a {
    color: $clWhite;
    font-family: $fontHeading;
    font-size: 15px;
    line-height: 2.5em;
    text-decoration: none;
  }

  .content {
    display: flex;
    justify-content: space-between;
    padding: $contentPadding;
    padding-top: 30px;

    .logo {
      background-image: $logoUrl;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 207px;
      height: 56px;
      margin-top: -5px;
      width: 207px;
    }

    h5 {
      color: $clDarkGrey;
    }
  }
}