.banner{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
  top: 0;
  width: 100%;
  z-index:0;

  .content{
    display: flex;
    margin: auto;
    max-width: 1200px;
    padding: 40px;
    position: relative;

    .intro{
      background-color: $clWhite;
      box-shadow: 0 10px 20px rgba(0,0,0,0.4);
      box-sizing: border-box;
      float: right;
      font-size: 14px;
      padding: 20px 40px;
      position: absolute;
      right: 0;
      top: 200px;
      width: 450px;

      @media screen and (max-width: $break-medium) {
        margin-right: 40px;
      }

      @media screen and (max-width: $break-small) {
        width: 100%;
        margin-right: 0;
        top: 120px;
      }
      .btn{
        float:right;
      }
    }
  }

  .author{
    background-color: rgba($clSecondary, 0.4);
    bottom: 0;
    box-sizing: border-box;
    color: $clWhite;
    font-size: 0.9em;
    height: 20px;
    left: 0;
    line-height: 20px;
    padding-right: 10px;
    position: absolute;
    text-align: right;
    width: 100%;
  }

}