.documentation{
    .container{
        width: 1024px;
        max-width: 100%;
        min-height: calc(100vh - 310px);

        ul{
            margin:0;
            padding: 0;
            list-style: none;
            &.toc{
                position: fixed;
                top: 140px;
                width: 200px;
                &>li{
                    font-weight: bold;
                }
            }
            li{
                font-weight: normal;
                margin-left: 0;  
                padding-left: 10px;              
                a{
                    display: block;
                    padding: 3px 0 3px 15px;
                    border-left: 0;
                    color: black;
                    &:hover{
                        text-decoration: none;
                    }
                }
                &.active, &:hover{
                    &>a{
                        padding-left: 10px;
                        font-weight: bold;
                        border-left: 5px solid $clSecondary;
                    }
                }

            }
        }

        .documentation-content{
            margin-left: 225px;
        }
    }
}